<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Version Type="LocalCopy">
    <OIS>
      <LicenseKey>company=RheinLand Versicherungs AG;address1=Rheinlandpl. 1, 41460 Neuss, Deutschland;address2=;address3=;contact=;exp_date=31129998;issue_date=30112018;lictype=0;usr_limit=970;id_limit=970;proctmpl_limit=0;modules=OMADADATAWAREHOUSE,ODWGENERIC,ODWSAP,SURVEY_MODULE,SOD_MODULE,AO_MODULE,OIS,PASSWORDRESET,OPS,EXCHANGE;signature=iGd7KzFXDbHh4vipaX3lolznh4Zl/45lYvNU/DNCz/v2ycuDFdw8MA==</LicenseKey>
      <Version>14.0</Version>
    </OIS>
    <MSSQL Enabled="true">
      <SSRSPath>D:\SQL_Instanzen\MSSQLSERVER\MSRS13.MSSQLSERVER\Reporting Services</SSRSPath>
      <AdministratorPassword>76492d1116743f0423413b16050a5345MgB8AEUATAB4AGMAUgBkADQAdwB3AFcASgBTADYAeABJAHIAZwB6AHoAVQBlAHcAPQA9AHwANAAwAGQAYgBiADQAYQAyADAAYQA4ADgANwBhAGQANQAwADkAZABhAGIAYQAyADIAMAA1ADEANQBmADIAMQBmADIAMAA2ADMANQBiADEAYQA2ADMAMwBiADYAYgA4ADkANAA4ADIANgAyADEAMQAwADQAMwA1ADEAZQA2ADQAYwA=</AdministratorPassword>
      <Administrator>
      </Administrator>
      <SSIS>localhost</SSIS>
      <Server>hv-s-winsql002</Server>
      <Version>2016</Version>
      <VersionNo>13</VersionNo>
      <RsHttps>false</RsHttps>
      <RsOnAppServer>true</RsOnAppServer>
      <IntegratedSecurity Enabled="true" />
    </MSSQL>
    <ES Enabled="true">
      <CertThumbprint>
      </CertThumbprint>
      <FilesPath>C:\Program Files\Omada Identity Suite\Enterprise Server\</FilesPath>
      <ToolPath>C:\Program Files\Omada Identity Suite\Enterprise Server\website\bin\dataobjectimportutil.exe</ToolPath>
      <SourcePath>D:\Install\Omada Identity Suite v14.0.2.9\DO-UpgradeTools\Private\DataObjects</SourcePath>
      <ChangesetsCustomer>omada</ChangesetsCustomer>
      <ChangesetsPath>D:\Install\Omada Identity Suite v14.0.2.9\DO-UpgradeTools\Private\DataObjects</ChangesetsPath>
      <AuditDBInitialScript>Support Files\CreateObjects.OISAudit.sql</AuditDBInitialScript>
      <SourceSystemDBName>Omada Source System Data DB</SourceSystemDBName>
      <DBUser>salesadm</DBUser>
      <DBPassword>76492d1116743f0423413b16050a5345MgB8AFoAaABsAGoAMgB4AGIAMgBGADIANQAwAHIAZwB0AE4AZgBWADkAOABxAGcAPQA9AHwAOQAwADQAMAAwADUAMgA3ADEAOQA2ADEANABhADEAYwA0AGYAYgBmADkAOABiADkAZAA0AGYAYwBhADQAZABjADIAZgBmADQAZABkADkAZAA3AGMANQA2AGIAMQBmADgANwAzADcANgA5AGQAOAA5ADIANQBkADcAYgAyAGEAMgA=</DBPassword>
      <AuditDBName>OmadaEnt_Archive</AuditDBName>
      <TimerServiceName>OETSVC</TimerServiceName>
      <DropFolder>
      </DropFolder>
      <Name>Omada Identity Suite Enterprise Server</Name>
      <Exe>OIS Enterprise Server.exe</Exe>
      <InstallationPath>C:\Program Files\Omada Identity Suite\Enterprise Server</InstallationPath>
      <Features>Omada_Enterprise,Omada_Identity_Manager,Tools</Features>
      <IISAppPool>Enterprise Server</IISAppPool>
      <IISWebSite>Enterprise Server</IISWebSite>
      <IISBinding>omada_test_enterpriseserver.rlv.rhld.net</IISBinding>
      <DBName>OIS</DBName>
      <Version>
      </Version>
      <Changesets CopyToLocalPath="true" SkipErrors="true" Enabled="true" />
      <SurveyTemplates Enabled="false">
        <ToolPath>C:\Program Files\Omada Identity Suite\Enterprise Server\website\bin\SurveyTemplateImporterUtil.exe</ToolPath>
        <SurveyTemplatesPath>C:\Program Files\Omada Identity Suite\Enterprise Server\Survey templates</SurveyTemplatesPath>
      </SurveyTemplates>
      <AddDailyImportTask>false</AddDailyImportTask>
      <UpdateHostsFile>false</UpdateHostsFile>
      <OverwriteFiles>true</OverwriteFiles>
      <InstallSQLSysClrTypes2012>true</InstallSQLSysClrTypes2012>
      <InstallReportViewer2012>true</InstallReportViewer2012>
      <DisableReportServerForceSSL>true</DisableReportServerForceSSL>
      <DataObjects OverwriteFiles="true" SourcePath="D:\Install\Omada Identity Suite v14.0.2.9\DO-UpgradeTools\Private\DataObjects" ToolPath="C:\Program Files\Omada Identity Suite\Enterprise Server\C:\Program Files\Omada Identity Suite\Enterprise Server\website\bin\dataobjectimportutil.exe" FilesPath="C:\Program Files\Omada Identity Suite\Enterprise Server\C:\Program Files\Omada Identity Suite\Enterprise Server\" />
      <DBInitialScripts>
        <Script>
          <DBName>OIS</DBName>
          <Step>2.2.1</Step>
          <ScriptPath>C:\Program Files\Omada Identity Suite\Enterprise Server\Sql scripts\dbcr_14_0.sql</ScriptPath>
        </Script>
        <Script>
          <DBName>OIS</DBName>
          <Step>2.2.1</Step>
          <ScriptPath>C:\Program Files\Omada Identity Suite\Enterprise Server\Sql scripts\dbcr_oim_14_0.sql</ScriptPath>
        </Script>
        <Script>
          <DBName>Omada Source System Data DB</DBName>
          <Step>2.2.1</Step>
          <ScriptPath>C:\Program Files\Omada Identity Suite\Enterprise Server\Sql scripts\CreateSourceSystemDataDB.sql</ScriptPath>
        </Script>
      </DBInitialScripts>
    </ES>
    <OPS Enabled="true">
      <InstallationPath>C:\Program Files\Omada Identity Suite\Provisioning Service</InstallationPath>
      <DropFolder>
      </DropFolder>
      <Name>Omada Provisioning Service</Name>
      <Exe>Omada Provisioning Service.exe</Exe>
      <DBName>ProvisioningService</DBName>
      <DBUser>salesadm</DBUser>
      <DBPassword>76492d1116743f0423413b16050a5345MgB8AEUAdwB2AFUARABLAGsALwAyAHcAUQAyAGwAMgBRAEUAZQB3AE4AdgBaAEEAPQA9AHwANQA4AGMAYQAyADUAZgA0AGUANgBlAGEAZQAxAGEANwBlAGIAMAAwADEAZAA5AGMAMgBkADYANgBkAGYAZQA0ADcAYgAzAGMAYwAzAGEAZgBhADkAZQA0AGYAMgA2AGMANwA5ADMAZgBkAGQANgAyAGQAMwA4ADMAOABhADcAOAA=</DBPassword>
      <ServiceName>Omada ProvisioningService</ServiceName>
      <PushConfigurationWebService>http://omada_test_enterpriseserver.rlv.rhld.net/WebService/OPSWebServiceInternal.asmx?op=PushConfiguration</PushConfigurationWebService>
      <Version>
      </Version>
    </OPS>
    <ODW Enabled="true">
      <ADUsers>Omada_Users</ADUsers>
      <ADAuditors>Omada_Auditors</ADAuditors>
      <ADAdmins>Omada_Admin</ADAdmins>
      <DBPass>76492d1116743f0423413b16050a5345MgB8AHQANQBuADUASgBsAHoATwA1AHEAcABuAHQARgBBAGcAbgBaAEgAQQBhAGcAPQA9AHwAYQBhAGEAZgBlAGUAYwA4AGIAMwA5AGIANgBlADIANQAyADcANgBhADMAOABjADYANgA0AGUAZAA0ADMAZgBiAGQANwAwADcAOQBjAGIAMwA3AGIAMgBhADMANwA3AGIAYQBlADUANAAxADkAOQAyADIAMwBjADkAYQBiADUANgA=</DBPass>
      <ODWPRoductDatabaseMaster>Omada Data Warehouse Master</ODWPRoductDatabaseMaster>
      <InstallationPath>C:\Program Files\Omada Identity Suite\Datawarehouse</InstallationPath>
      <UploadReports Enabled="true" SkipErrors="false">D:\Install\Omada Identity Suite v14.0.2.9\DO-UpgradeTools\Private\ODW</UploadReports>
      <DropFolder>
      </DropFolder>
      <Name>Omada Identity Suite Data Warehouse</Name>
      <Exe>Omada Data Warehouse.x64 SQL 2016.exe</Exe>
      <DBUser>salesadm</DBUser>
      <ODWProductDatabase>Omada Data Warehouse</ODWProductDatabase>
      <ODWProductDatabaseStaging>Omada Data Warehouse Staging</ODWProductDatabaseStaging>
      <Version>
      </Version>
      <DtsConfigUpdates>
        <Update>
          <File>Common\Omada ODW WebService.dtsConfig</File>
          <ParentNode>/DTSConfiguration/Configuration</ParentNode>
          <ParentElementValue>\Package.Variables[User::WebServiceURL].Properties[Value]</ParentElementValue>
          <ParentElementKey>Path</ParentElementKey>
          <KeyAttribute>ConfiguredValue</KeyAttribute>
          <KeyValue>http://omada_test_enterpriseserver.rlv.rhld.net/webservice/OIM_SystemOnboarding.asmx</KeyValue>
        </Update>
        <Update>
          <File>Common\Omada ODW WebService.dtsConfig</File>
          <ParentNode>/DTSConfiguration/Configuration</ParentNode>
          <ParentElementValue>\Package.Variables[User::UseDefaultCredentials].Properties[Value]</ParentElementValue>
          <ParentElementKey>Path</ParentElementKey>
          <KeyAttribute>ConfiguredValue</KeyAttribute>
          <KeyValue>True</KeyValue>
        </Update>
        <Update>
          <File>Common\Omada ODW WebService.dtsConfig</File>
          <ParentNode>/DTSConfiguration/Configuration</ParentNode>
          <ParentElementValue>\Package.Variables[User::User].Properties[Value]</ParentElementValue>
          <ParentElementKey>Path</ParentElementKey>
          <KeyAttribute>ConfiguredValue</KeyAttribute>
          <KeyValue>administrator</KeyValue>
        </Update>
        <Update>
          <File>Common\Omada ODW WebService.dtsConfig</File>
          <ParentNode>/DTSConfiguration/Configuration</ParentNode>
          <ParentElementValue>\Package.Variables[User::Password].Properties[Value]</ParentElementValue>
          <ParentElementKey>Path</ParentElementKey>
          <KeyAttribute>ConfiguredValue</KeyAttribute>
          <KeyValue>
          </KeyValue>
        </Update>
        <Update>
          <File>Common\Omada ODW WebService.dtsConfig</File>
          <ParentNode>/DTSConfiguration/Configuration</ParentNode>
          <ParentElementValue>\Package.Variables[User::Domain].Properties[Value]</ParentElementValue>
          <ParentElementKey>Path</ParentElementKey>
          <KeyAttribute>ConfiguredValue</KeyAttribute>
          <KeyValue>
          </KeyValue>
        </Update>
      </DtsConfigUpdates>
      <ConfigurationPackages>
        <ConfigurationPackage>
          <PackageName>MSDB\Omada\ODW\Omada ODW Run</PackageName>
          <Step>3.5</Step>
          <Arguments>"\package.variables[ProfileID].Value";" "" /SET ""\package.variables[ProfileType].Value";"config"</Arguments>
        </ConfigurationPackage>
      </ConfigurationPackages>
      <DBScripts />
    </ODW>
    <RoPE Enabled="true">
      <ConfigFilesSourcePath>D:\Install\Omada Identity Suite v14.0.2.9\DO-UpgradeTools\Private\RoPE</ConfigFilesSourcePath>
      <DropFolder>
      </DropFolder>
      <Name>Omada Identity Suite Role and Policy Engine</Name>
      <Exe>OIS Role and Policy Engine.exe</Exe>
      <RoPEProductDatabase>RoPE</RoPEProductDatabase>
      <DBUser>OMADA_TEST_ROPE</DBUser>
      <DBUserPassword>76492d1116743f0423413b16050a5345MgB8AHIAagAzAHYAUQBlADQAWAArAFkAbgBlAHIARwBZAEUAbgBmAEQASgBIAGcAPQA9AHwAYwA4ADQAZAA4ADYAOAAwADUANABhAGMAZgA5AGEAMgAyAGYAMAA3ADkAZABhAGQAMwBhADkAZgBlADAAYwBhAGEAMwA0AGUANgBiAGIAYQAzADQAZQA2ADAAOQA0ADgAOQA2ADUAYQBiADUANAAyAGUAMAA5AGQAZgAyAGIAZgA=</DBUserPassword>
      <RoPEServiceName>RoPE1.1</RoPEServiceName>
      <InstallationPath>C:\Program Files\Omada Identity Suite\Role and Policy Engine</InstallationPath>
      <Version>
      </Version>
      <ConfigFiles />
      <StopServiceDuringInstallation>true</StopServiceDuringInstallation>
    </RoPE>
  </Version>
  <LocalConfiguration>
    <Service>
      <DomainExt>net</DomainExt>
      <Domain>RHPR</Domain>
      <Description>Service user for omada products</Description>
      <Password>76492d1116743f0423413b16050a5345MgB8AGEAdQAwAHEAYQB6ADYANQB1AFkAVgBqAEsAWQBVAGMASgA0AFgAaABvAEEAPQA9AHwAYQAwAGUAMwBiAGMAMAAzAGUAMgA5ADEANgBmADAANgA1ADIAOAAzADYAMABhADIAZQBmADAAZgBhAGEAYgAzADIAOQBmAGMAMwAwADMAZQBmADEAZQBjAGEAZQAxAGMANgAzADcAMABhAGQAYgA1AGIANAA2ADAANAAyADUANwA=</Password>
      <UserName>OMADA_TEST_EA</UserName>
    </Service>
    <EncryptionKey>OmadaEncryptionKey</EncryptionKey>
    <Administrator>
      <Password>76492d1116743f0423413b16050a5345MgB8ADYAdgByAEQAZwBxAHcAMgBUAEgAUABDAEQARABGAHMARQBxAFYAagA2AHcAPQA9AHwAYQA0ADkANwA1ADIAMwA3AGEAYQAwADIAOQBkADIAZQBkAGIAMgBlAGQAZQBhADEAYwA2AGMAYgA2AGMANwAyADQAOQAwAGIAYQBlADIANwA1ADAAYQA5ADkANgBjADkAMwAxADAAOQA0ADgAYwBmAGIAOAA3AGIAMQA5AGUAZQA=</Password>
      <UserName>omada_test_install</UserName>
      <Domain>rlv.rhld.net</Domain>
    </Administrator>
    <LogPath>
      <Path>D:\Install\Omada Identity Suite v14.0.2.9\Logs</Path>
    </LogPath>
    <BackupPath>
      <Path>D:\Install\Omada Identity Suite v14.0.2.9\Backup</Path>
    </BackupPath>
    <TemporaryFolder>
      <Path>D:\Install\Omada Identity Suite v14.0.2.9\Install</Path>
    </TemporaryFolder>
    <DBS />
    <Customization>false</Customization>
    <UseExternalKey>false</UseExternalKey>
  </LocalConfiguration>
  <Demo Enabled="false" />
  <Execution>
    <ErrorStep>32</ErrorStep>
  </Execution>
</Configuration>