<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Version Type="LocalCopy">
    <OIS>
      <Version>14.0</Version>
    </OIS>
    <MSSQL Enabled="true">
      <Administrator>
      </Administrator>
      <MSSQLUser>salesadm</MSSQLUser>
      <MSSQLServer>salesdemo</MSSQLServer>
      <SSISUser>salesadm</SSISUser>
      <SSISServer>salesdemo</SSISServer>
	  <SSISPath>C:\Program Files\Microsoft SQL Server\130\DTS\Binn</SSISPath>
	  <SSRSServer>salesdemo</SSRSServer>
	  <SSRSUser>salesadm</SSRSUser>
	  <SSRSPath>C:\Program Files\Microsoft SQL Server\MSRS13.MSSQLSERVER\Reporting Services\ReportServer</SSRSPath>
      <Version>2016</Version>
      <VersionNo>13</VersionNo>
      <RsHttps>false</RsHttps>
      <RsOnAppServer>true</RsOnAppServer>
    </MSSQL>
    <ES Enabled="true">
      <ESDBUser>salesadm</ESDBUser>
	  <ESUser>salesadm</ESUser>
	  <ESServer>salesadm</ESServer>
      <IISBinding>omada_test_enterpriseserver.rlv.rhld.net</IISBinding>
      <DBName>OIS</DBName>
    </ES>
    <OPS Enabled="true">
      <OPDUser>salesadm</OPDUser>
	  <OPDServer>salesadm</OPDServer>
    </OPS>
    <ODW Enabled="true">
      <ADUsers>Omada_Users</ADUsers>
      <ADAuditors>Omada_Auditors</ADAuditors>
      <ADAdmins>Omada_Admin</ADAdmins>
      <ODWUser>salesadm</ODWUser>
	  <ODWServer>salesadm</ODWServer>
    </ODW>
    <RoPE Enabled="true">
      <RoPEDatabase>RoPE</RoPEDatabase>
      <RoPEUser>OMADA_TEST_ROPE</RoPEUser>
	  <RoPEServer>OMADA_TEST_ROPE</RoPEServer>
    </RoPE>
  </Version>
  <LocalConfiguration>
    <Service>
      <DomainExt></DomainExt>
      <Domain></Domain>
      <Description>Service user for omada products</Description>
      <ServiceUser>OMADA_TEST_EA</ServiceUser>
    </Service>
    <Administrator>
	  <Description>Install user for omada products</Description>
      <InstallUser>omada_test_install</InstallUser>
      <Domain>rlv.rhld.net</Domain>
    </Administrator>
    <DBS />
  </LocalConfiguration>
</Configuration>